.home, .project, .view-more {
	.project {
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 0;
		margin: 15px 0;
		@media (max-width: 767px) {
			margin: 7.5px 0;
		}
        &.sportsaid {
			background-image: url(../images/home/sportsaid.jpg);
			padding-top: 65%; /* (img-height / img-width * width) */
							/* (439 / 780 * 100) */
		}
		&.tkmaxx {
			background-image: url(../images/home/tkmaxx.jpg);
			padding-top: 65%; /* (img-height / img-width * width) */
							/* (825 / 1920 * 100) */
		}
		&.hbo {
			background-image: url(../images/home/hbo-xl.jpg);
			padding-top: 136.37%; /* (img-height / img-width * width) */
							/* (439 / 780 * 100) */
		}
		&.hbo1 {
			background-image: url(../projects/hbo/images/iphone.png);
			padding-top: 781px;
			background-size: 400px 780.5px;
			position: relative;

			@media (max-width: 767px) {
				padding-top: 527px;
				background-size: 270px 526.83px;
			}
			iframe {
				width: 320px;
				height: 480px;
				position: absolute;
				top: calc(50% - 250px);
				left: calc(50% - 165px);
				@media (max-width: 767px) {
					-ms-transform: scale(0.7);
					-moz-transform: scale(0.7);
					-o-transform: scale(0.7);
					-webkit-transform: scale(0.7);
					transform: scale(0.7);

					-ms-transform-origin: 0 0;
					-moz-transform-origin: 0 0;
					-o-transform-origin: 0 0;
					-webkit-transform-origin: 0 0;
					transform-origin: 0 0;

					top: calc(50% - 173px);
					left: calc(50% - 115px);
				}
			}
		}
		&.wallpaper {
			background-image: url(../images/home/wallpaper.jpg);
			padding-top: 65.27%; /* (img-height / img-width * width) */
							/* (774 / 576 * 100) */
		}
		&.pap {
			background-image: url(../images/home/pap.jpg);
			padding-top: 64%; /* (img-height / img-width * width) */
							/* (439 / 780 * 100) */
		}
		&.pap1 {
			background-image: url(../projects/pap/images/pap1.jpg);
			padding-top: 155%;
		}
		&.pap2 {
			background-image: url(../projects/pap/images/pap2.jpg);
			padding-top: 74.5%;
		}
		&.pap3 {
			background-image: url(../projects/pap/images/pap3.jpg);
			padding-top: 74.5%;
		}
		&.pap4 {
			background-image: url(../projects/pap/images/pap4.jpg);
			padding-top: 59%;
		}
		&.or-nothing {
			background-image: url(../images/home/or-nothing.jpg);
			padding-top: 64%; /* (img-height / img-width * width) */
							/* (774 / 576 * 100) */
		}
		&.arg {
			background-image: url(../images/home/magritte.jpg);
			padding-top: 40.97%; /* (img-height / img-width * width) */
							/* (500 / 1176 * 100) */
		}
		&.arg1 {
			background-image: url(../projects/arg/images/magritte_et_la_lumiere1.jpg);
			padding-top: 137%;
		}
		&.arg2 {
			background-image: url(../projects/arg/images/magritte_et_la_lumiere3.jpg);
			padding-top: 65.3%;
		}
		&.arg3 {
			background-image: url(../projects/arg/images/magritte_et_la_lumiere4.jpg);
			padding-top: 65.3%;
		}
		&.arg4 {
			background-image: url(../projects/arg/images/magritte_et_la_lumiere5.jpg);
			padding-top: 59%;
		}
		a {
			color: white;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.8);
			opacity: 0.0;
			-webkit-transition: opacity 0.25s; /* Safari */
    		transition: opacity 0.25s;
			span {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 100%;
				text-align: center;
				@media (max-width: 767px) {
					font-size: 14px;
				}
			}
        }
        &:hover {
			a {
				opacity: 1.0;
			}
        }
	}
	&.content {
		.row {
			@media (max-width: 767px) {
				margin: 0 -7.5px;
			}
			.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
				@media (max-width: 767px) {
					padding: 0 7.5px;
				}
			}
		}
	}
}
.view-more {
	.project {
		padding-top: 65% !important;
	}
}