.featured-img {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 0;
	margin-top: 50px;
	@media (min-width: 767px) {
		margin-top: 81px;
	}
	&.arg {
		background-image: url(../projects/arg/images/featured-arg.jpg);
		padding-top: 50%; 
		@media (min-width: 1080px) {
			padding-top: 30%;
		}
	}
	&.pap {
		background-image: url(../projects/pap/images/featured-pap.jpg);
		padding-top: 50%; 
		@media (min-width: 1080px) {
			padding-top: 30%;
		}
	}
	&.about {
		background-image: url(../images/about/featured-about.jpg);
		padding-top: 50%; 
		@media (min-width: 1080px) {
			padding-top: 30%;
		}
	}
	&.sportsaid {
		background-image: url(../projects/sportsaid/images/featured-sportsaid.jpg);
		padding-top: 50%; 
		@media (min-width: 1080px) {
			padding-top: 30%;
		}
	}
	&.tkmaxx {
		background-image: url(../projects/tkmaxx/images/featured-tkmaxx.jpg);
		padding-top: 50%; 
		@media (min-width: 1080px) {
			padding-top: 30%;
		}
	}
	&.hbo {
		background-image: url(../projects/hbo/images/featured-hbo.jpg);
		padding-top: 52%; 
		@media (min-width: 768px) {
			padding-top: 17%;
		}
	}
	&.or-nothing {
		background-image: url(../projects/or-nothing/images/featured-or-nothing.jpg);
		background-color: $featured-bg;
		background-size: 40%;
		background-position: center bottom;
		padding-top: 35%; 
		@media (max-width: 768px) {
			background-size: 70%;
			padding-top: 60%; 
		}
	}
	&.wallpaper {
		background-image: url(../projects/wallpaper/images/featured-wallpaper.jpg);
		background-color: $featured-bg;
		background-size: 40%;
		background-position: center bottom;
		padding-top: 35%; 
		@media (max-width: 768px) {
			background-size: 70%;
			padding-top: 60%; 
		}
	}
}
.intro {
	background: $intro-bg;
	text-align: center;
	padding: 60px 0;
	@media (max-width: 767px) {
		padding: 30px 0;
	}
	h1 {
		margin-top: 0;
		text-transform: uppercase;
		font-size: 13px;
		letter-spacing: 1.2px;
		color: $intro-dark;
		@media (max-width: 767px) {
			font-size: 12px;
		}
	}
	h2 {
		color: $intro-light;
		margin-bottom: 20px;
		font-size: 28px;
		@media (max-width: 767px) {
			font-size: 24px;
		}
	}
	p {
		color: $intro-dark;
		font-size: 16px;
		@media (max-width: 767px) {
			font-size: 14px;
		}
	}
	hr {
		border-color: #333333;
	}
	a {
		font-size: 16px;
		color: $intro-light;
		&:hover, &:focus {
			color: white;
			text-decoration: none;
		}
		@media (max-width: 767px) {
			font-size: 14px;
		}
	}
}
.content {
	img {
		@media (max-width: 767px) {
			padding: 7.5px 0;
		}
	}
}
.view-more {
	background: $view-more-bg;
	padding: 60px 0;
	@media (max-width: 767px) {
		padding: 30px 0 15px 0;
	}
	h2 {
		font-size: 24px;
		margin: 0 0 10px 0;
		@media (max-width: 767px) {
			font-size: 16px;
		}
	}
	.row {
		@media (max-width: 767px) {
			padding: 0 7.5px;
		}
		.col-xs-6 {
			@media (max-width: 767px) {
				padding: 0 7.5px;
			}
		}
	}
}